.sidenav {
  display: block;
  min-height: 100vh;
  position: fixed;
  background: #ffff;
  width: 0;
  overflow-y: auto;
  overflow-x: hidden;
  border: none;
  -webkit-transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  -o-transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  box-shadow: 2px 0 15px rgba(0, 0, 0, .35);
  -webkit-box-shadow: 2px 0 15px rgba(0, 0, 0, .35);
  -webkit-transform: translate3d(-300px, 0, 0);
  transform: translate3d(-300px, 0, 0);
  top: 0;
  left: 0;
  z-index: 1035;
  bottom: 0;
  &:before {
    content: " ";
    display: table;
  }
  &:after {
    content: " ";
    display: table;
    clear: both;
  }
  &::-webkit-scrollbar-track {
    border-radius: 2px;
  }
  &::-webkit-scrollbar {
    width: 5px;
    background-color: #F7F7F7;
  }
  &.open {
    min-width: 300px;
    width: 300px;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}